{% extends "management_base.html" %}

{% block management_base %}
    <h2><a href="/management/players">>>Back to Players</a></h2>
    <div id="player-grid-container"></div>
        <div id="single-player">
            <h3 id="little-title"> Player information</h3>
            <ul>
                <li>{{guest.full_name}}</li>
                <li>{{guest.phone}}</li>
            </ul>
        </div>

        <div id="current-adventures">
            <h3 id="little-title">Current Adventures:</h3>
                <ol>
                {% for mission in missions %}
                    <li>{{mission.title}}</li>
                {% endfor %}
                </ol>
            <a href="/management/players/{{guest.id}}/edit">Update player</a>

            <form class="delete" action="/management/player/{{guest.id}}/delete" method="POST">
            <input id="delete_player" type="submit" value="delete-player">
            </form>
        </div>
        <div id="extra-options-player">
            <form action="/management/player/{{guest.id}}/join_session" method="post">
            <label for="choose_campaign">Choose campaign:</label>
            <select id="choose_campaign" name="campaign_id">
                {% for session in available_sessions %}
                <option value="{{ session.id }}">{{ session.title }}</option>
                {% endfor %}
            </select>
                    <button type="submit">Add to campaign</button>
            </form> 
        </div>                  
    </div>
{% endblock %}