{% extends "management_base.html" %}

{% block management_base %}
<a href="/management/board"><h2 class="back-to">>>Back to Management Board</h2></a>
<section id="players-grid-container"></div>
    <div id="players" class="list-of-players">
        <h2>Current players</h2>
            <ol> 
            {% for guest in all_players %}
                <li>
                    <a href="/management/player/{{guest.id}}" id="player_list"> {{guest.full_name}}</a>
                </li>
            {% endfor %}
            </ol>
    </div>
    <div class="manage-players"> 
        <h2>Add player</h2>
            <form action="/management/players" method="post">
            <div>
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="full_name" placeholder="Name and Surname" required autofocus>
            </div>
            <div>
                <label for="telNo">Phone number:</label>
                <input id="telNo" name="phone" type="tel" placeholder="+44 **********" required autofocus>
            </div>
            <button type="submit">Add player</button>
            </form>
    </div>
</section>   
{% endblock %}