{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Player information</h2>
        <ul>
            <li>{{guest.full_name}}</li>
            <li>{{guest.phone}}</li>
        </ul>
        <h2>Current Adventures:</h2>
        <ol>
        {% for mission in missions %}
            <li>{{mission.title}}</li>
        {% endfor %}
        </ol>


            <a href="/management/players/{{guest.id}}/edit">Update</a>
            

            <form class="delete" action="/management/player/{{guest.id}}/delete" method="POST">
            <input id="delete_player" type="submit" value="delete-player">
            </form>

            <div>
                <form action="/management/player/{{guest.id}}/join_session" method="post">
                <label for="choose_campaign">Choose session:</label>
                <select id="choose_campaign" name="campaign_id">
                    {% for session in available_sessions %}
                        <option value="{{ session.id }}">{{ session.title }}</option>
                    {% endfor %}
                    </select>
            </div>
                <button type="submit">Add to campaign</button>
            </form>
        
    </div>
{% endblock %}