{% extends "management_base.html" %}

{% block management_base %}

<a href="/management/sessions"><h2 class="back-to">>>Back to Sessions</h2></a>
    <div id="session-grid-container">
        <div class="single-session">
            <h3 id="little-title">session information</h3>
            <ul>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">TITLE: </span> {{session.title}}</li>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">GENRE: </span> {{session.genre}}</li>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">DM: </span> {{session.dm}}</li>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">PARTY LIMIT: </span> {{session.max_capacity}}</li>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">PRICE: </span> {{session.price}}</li>
                <li><span style="color:rgba(211, 194, 40, 0.978); font-style: italic">CAMPAIGN DETAILS: </span> {{session.details}}</li>

                <a id="update-session" href="/management/sessions/{{session.id}}/edit">>>Update Session<<</a>
        
                <form class="delete" action="/management/session/{{session.id}}/delete" method="POST">
                <input id="delete_session" type="submit" value="delete-session">
                </form>
            </ul>
        </div>
        <div class="party-container">
            <h3 id="little-title"> Current party members</h3>
                <ol>
                {% for members in party %}
                    <li>{{members.full_name}}</li>
                {% endfor %}
                </ol>
        </div>
    </div>
{% endblock %}