{% extends "management_base.html" %}

{% block management_base %}
<a href="/management/board"><h2 class="back-to">>>Back to Management Board</h2></a>
<div id="sessions-grid-container">
    <div id="sesssions" class="all-the-sessions">
        <h2>Current sessions</h2>
            <ol> 
            {% for session in all_sessions %}
                <li>
                    <a href="/management/session/{{session.id}}" id="all_sessions"> {{session.title}}</a>
                </li>
            {% endfor %}
            </ol>
    </div>
    <div class="sessions-interact"> 
        <h2>Add session</h2>
            <form action="/management/sessions" method="post">

            <div>
                <label for="campaign_title">Title:</label>
                <input class="input-text" type="text" id="campaign_title" name="title" placeholder="Campaign title" required autofocus>
            </div>
            <div>
                <label for="genre">Genre:</label>
                <input class="input-text" type="text" id="genre" name="genre" placeholder="Campaign genre">
            </div>
            <div>
                <label for="dm">Dungeon Master:</label>
                <input class="input-text" type="text" id="dm" name="dm" placeholder="Name">
            </div>
            <div>
                <label for="max_capacity">Party limit:</label>
                <input class="input-text" type="text" id="max_capacity" name="max_capacity" placeholder="max party members">
            </div>
            <div>
                <label for="price">Price:</label>
                <input class="input-text" type="text" id="price" name="price" placeholder="price per session">
            </div>
            <div>
                <label for="details">Details:</label>
                <textarea class="text-area" cols="80" id="details" name="details" rows="14" placeholder="campaign brief"></textarea>
                
            </div>
            <div>
                <label for="url">https:// image URL:</label>
                <input type="url" name="url" id="url" placeholder="https://image_link.com" pattern="https://.*" size="30"
                    required>
            </div>
            <button type="submit">Add Session</button>
            </form>
    </div>
</div>      
{% endblock %}