{% extends 'base.html'%}

{% block content %}
<h1>UPDATE Session</h1>
    <form action="/management/session/{{session.id}}/update" method="post"> 
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{session.title}}" required autofocus>
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" value="{{session.genre}}">
        </div>
        <div>
            <label for="dm"> Dungeon Master:</label>
            <input type="text" id="dm" name="dm" value="{{session.dm}}">
        </div>
        <div>
            <label for="max_capacity">Party limit:</label>
            <input type="text" id="max_capacity" name="max_capacity" value="{{session.max_capacity}}">
        </div>
        <div>
            <label for="price">price:</label>
            <input type="text" id="price" name="price" value="{{session.price}}" placeholder="per session">
        </div>
        <div>
            <label for="details">details:</label>
            <textarea cols="90" id="details" name="details" rows="14" value="{{session.details}}" placeholder="campaign brief"></textarea>
        </div>
        
        <button type="submit"> Update </button>

    </form>
{% endblock %}