{% extends "base.html" %}

{% block content %}
    <div>
        <a href="/home"> <h3> >> Back to campaigns</h3></a>

        <h2>{{campaign.title}} details</h2>
        <ul>
            <li>Genre: {{campaign.genre}}</li>
            <li>Dungeon Master: {{campaign.dm}}</li>
            <li>Max number of players: {{campaign.max_capacity}}</li>
            <li>price per session: {{campaign.price}}</li>
            <li>Campaign brief: {{campaign.details}}</li>
            <!-- <img src="{{campaign.picture_url}}""> -->

            <div class="campaign-image-container">
                <img src="{{campaign.picture_url}}" width="600" height="400">
            </div>
        </ul>
    </div>


{% endblock %}