/* Intro (Index) page */

.empty-page {
    background: url('images/door.jpeg');
    background-size: cover;
    /* background-color: black; */
    
}

#intro-text {
    color: rgba(255, 255, 255, 0.862);
    font-family: 'Cinzel', serif;
}

/* Base CSS*/

body {
    font-family: 'cinzel', serif;
    margin: 0rem;
    padding:0;
    min-height: 100vh;
}

/* #title { */
#home_list_campaigns{
    font-style: none;
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(211, 211, 226);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 35%;
    length: max-content;
    background-color: rgba(59, 41, 29, 0.77);
    border-radius: 5%;
    
}

#reminder{
    display: flex;
    justify-content: right;
    color: azure;
    margin-right: 20px;
    text-shadow: 3px 3px #0f0e0e;
    margin-bottom: 10px;
    }

/* nav and grid */
#navigation{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}

#navigation > ul {
    font-family: 'cinzel', serif;
    color: rgb(9, 207, 78);;
    list-style: none;
    margin-left: 40%;
    margin-right: 10%;
    margin-top: -26px;
    display: flex;
    column-gap: 35px;
    text-align: center;
    text-shadow: 2px 1px #0f0e0e;

    }
    
#header{
    grid-area: header;
    background: url('images/dark_wood.jpeg');
    height: 5.3rem;
    min-height: 15vh;
    width: 100%;
    }
    
#main{
    background: url('images/fame.png');
    background-size: cover;
    grid-area: main;
    min-height: 80vh;
    }
    
#footer {
    background: url('images/stone_background.jpeg');
    grid-area: footer;
    max-height: 2rem;
    min-height: 5vh;
    display: flex;
    width: 100%;
    }

#footer > ul{
    display: flex;
    justify-content: center;
    font-family: 'cinzel', serif;
    text-shadow: 2px 1px #0f0e0e;
    list-style: none;
    margin-left: 40%;
    display: flex;
    column-gap: 35px;
    text-align: center;
}
        
#grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer'; 
    
}

/* STYLED LINKS */

a:link, a:visited, a:focus, a:active{
    color: #ABE338;
    text-decoration:none;
}
a:hover{
    color: rgb(226, 28, 127);
}

/* main title */
/* #main_title a.link {
    color:hotpink;
} */
.main_title_link, .main_title_link:link, 
.main_title_link:visited, .main_title_link:focus, 
.main_title_link:active{
color: rgb(226, 28, 127);
margin-left: 2%;
}

.main_title_link:hover{
    color:#ABE338;
}

