<!DOCTYPE html>
<html>
<head>
    <title>D&D Club</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="grid-container">
    <header id = "header">
        <a href="/home" ><h1>D&D CLUB</h1></a>
        <nav id="navigation">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/dm">Dungeon Masters</a>
                </li>
                <li>
                    <a href="/upcoming">Upcoming Sessions</a>
                </li>
                <li>
                    <a href="/tips">Tips & Guides</a>
                </li>
                <li>
                    <a href="/management/login">Management</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="main">
        {% block content %}

        {% endblock%}
    </main>
<footer id="footer">
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact us</a>
        </li>
    </ul>
</footer>
</body>
</html>