<!DOCTYPE html>
<html>
<head>
    <title>D&D Vault</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&family=Lobster&family=Rubik+Vinyl&family=Zen+Dots&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='management.css') }}">
</head>
<body id="grid-container">
    <header id = "header">
        <div id="main_title">
        <h1><a href="/home" class="main_title_link" >D&D Vault</a></h1>
        </div>
        <nav id="navigation">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/dm">Dungeon Masters</a>
                </li>
                <li>
                    <a href="/upcoming">Upcoming Sessions</a>
                </li>
                <li>
                    <a href="/tips">Tips & Guides</a>
                </li>
                <li>
                    <a href="/management/login">Management</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="main">
        {% block content %}

        {% endblock%}
    </main>
<footer id="footer">
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact us</a>
        </li>
    </ul>
</footer>
</body>
</html>