<!DOCTYPE html">
<html>
<head>

    <title>D&D Club</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        BODY.enterPage{
        cursor: hand;
        }
    </style>
    <script>
        function goto(){
        location.href = "/home"
        }
    </script>
</head>
<body class="empty-page" onclick="goto();">
    <div id = "intro-text">
        <h1>Looking for a new adventure?</h1>
        <h2>Click anywhere to enter the dungeon</h2>
    </div>
</body>
</html>

