{% extends 'base.html'%}

{% block content %}
    <div class="about-style">
        <h2><span style="color: rgb(226, 28, 127)"> WHO WE ARE</span> </h2>
            <p> D&D Vault is our an ambitious project <br>
                <span style="color: rgb(255, 149, 0)">to make </span><span style="color: rgb(255, 149, 0); text-decoration: underline; ">roleplaying</span><span style="color: rgb(255, 149, 0)"> a more accesible experience to the public.</span><br>

            <p>No matter how exprienced you are, our seasoned Dungedon Masters will guide you well.
                There will be always a campaign for you!</p>

        <h2 class="about-style" id="how-to">HOW TO JOIN A CAMPAIGN</h2>
        <h3><span style="color: rgb(255, 149, 0)">Contact us directly </span> and we will:</h3>
        <ul>
            <li>Get more insights on your interests to assist on your journey of choice</li>
            <li>Arrange an individual first session with your Dungeon Master to work on your character together</li>
            <li>Fully book you in for your first session/further sessions, and give you all the info you may need!</li>
    </div>
{% endblock %}