{% extends 'base.html'%}

{% block content %}
    <div class="contact-us">
        <h2> Contact us at: </h2>
            <li><span style="color: rgb(255, 149, 0)">Address:</span> 123 Fake Street </li>
            <li><span style="color: rgb(255, 149, 0)">Phone number: </span>+44 07798517041</li>
            <li><span style="color: rgb(255, 149, 0)">Phone number: </span>+44 07798517041</li>
            <li>
                <a href="/fake_dndvault_facebook.com">Facebook</a>

            </li>
            <li>
                <a href="/fake_dndvault_twitter.com"> Twitter</a>
            </li>
            <li>
                <a href="/fake_dndvault_instagram.com"> Instagram</a>
            </li>
    </div>
{% endblock %}