{% extends "base.html" %}

{% block content %}
    <a href="/home"> <h2 class="back-to"> >> Back to Home page</h2></a>
    <div>
        <h3 id="dm-info">Our <span style="color:rgba(22, 200, 28, 0.978)">goblins </span> are working hard to build this page...<br><br>
            Don't worry, you will be able to <span style="color:rgba(255, 162, 0, 0.978)">meet our experienced DM's </span><br>
            in less than an ent can spellcast a sorcery. <br><br>
            <span style="color:rgb(226, 28, 127)">Coming up soon !!</h3>


    </div>

{% endblock %}