{% extends "base.html" %}

{% block content %}
    <a href="/home"> <h2 class="back-to"> >> Back to Home page</h2></a>
    <div id="guides">
        <h3>Browse our collection of ressources for D&D beginngers<br>
            and don't hesitate to reach out if you have questions! <br></h3>
    </div>
    <div id="list-of-ressources">
        <ul>
            <li>
            <a href="https://dnd.wizards.com/"> Dungeons and Dragons official page</a>
            </li>
            <li>
            <a href="http://https://www.dndbeyond.com/"> D&D Beyond</a>
            </li>
            <li>
            <a href="http://rpg-directory.com/index.php?showtopic=78236"> The gist and the jargon</a>
            </li>
            <li>
            <a href="http://rpg-directory.com/index.php?showtopic=63159"> PvP guidebook</a>
            </li>
            <li>
            <a href="https://www.youtube.com/c/criticalrole"> Critical Role Youtube channel</a>
            </li>
            <li>
            <a href="http://rpg-directory.com/index.php?showtopic=58583"> Short and sweet rules</a>
            </li>
        </ul>
    </div>

</video>

{% endblock %}