{% extends "base.html" %}

{% block content %}
    <a href="/home"> <h2 class="back-to"> >> Back to Home page</h2></a>
    <div id="events">
        <h3>This <span style="color:rgba(211, 194, 40, 0.978)">Saturday 24th at 1pm </span> <br>
            come to join us for a book sining of <br>
            <span style="color:rgba(231, 234, 11, 0.978)">BRANDON SANDERSON'S NEW BOOK </span> <br>
        </h3>
    </div>
    <div id="video-box">
        <video width="500" height="350" controls>
        <source src= "https://www.youtube.com/watch?v=BHJsnWmz9mk" type="video/mp4">
    </div>

</video>

{% endblock %}